.divide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.cover-all {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.clickable {
  cursor: pointer;
}
.center {
  align-self: center;
  justify-self: center;
  font-size: 3vh;
  text-align: center;
}
.mail {
  display: block;
}
img {
  width: 100%;
  height: auto;
}
.footer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-span {
  margin: 8px;
  color: #222222;
  font-size: 2vh;
}

.forked {
  font-style: italic;
  font-size: 1.75vh;
}

.forked .link-to-anton {
  text-decoration: none;
  color: #777777;
}
.forked .link-to-anton:hover {
  color: #444444;
}

.lockCard {
  background: #f3f3f3;
  margin: 2rem;
  height: 40%;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.lockCardHeader {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 2.5rem 1.5rem;
}

.lockCardBody {
  background: #222222;
  color: #ffd;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}